@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #1A2238;
  color: #394568;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.moon {
  position: absolute;
  width: 67px;
  height: 67px;
  top: 45px;
  left: 55px;
  border-radius: 50px;
  background: #F6EDBD;
  overflow: hidden;
  box-shadow: 0 0 10px 0 #F6EDBD;
  -webkit-animation: rise 1s ease-out;
          animation: rise 1s ease-out;
}
.moon .crater-1, .moon .crater-10, .moon .crater-11, .moon .crater-4, .moon .crater-9, .moon .crater-8, .moon .crater-7, .moon .crater-6, .moon .crater-5, .moon .crater-3, .moon .crater-2 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 28px;
  border-radius: 10px;
  background: #ECE1A8;
}
.moon .crater-2 {
  top: 12px;
  left: 0;
}
.moon .crater-3 {
  top: 56px;
  left: 10px;
}
.moon .crater-4, .moon .crater-9, .moon .crater-8, .moon .crater-7, .moon .crater-6, .moon .crater-5 {
  width: 6px;
  height: 6px;
  top: 37px;
  left: 49px;
}
.moon .crater-5 {
  top: 24px;
  left: 61px;
}
.moon .crater-6 {
  top: 55px;
  left: 33px;
}
.moon .crater-7 {
  top: 17px;
  left: 46px;
}
.moon .crater-8 {
  top: 28px;
  left: 27px;
}
.moon .crater-9 {
  top: 39px;
  left: 17px;
}
.moon .crater-10, .moon .crater-11 {
  width: 4px;
  height: 4px;
  top: 25px;
  left: 15px;
}
.moon .crater-11 {
  top: 37px;
  left: 37px;
}

.hill-bg-1, .hill-fg-1, .hill-fg-3, .hill-fg-2, .hill-bg-2 {
  position: absolute;
  z-index: 2;
  width: 337px;
  height: 281px;
  top: 201px;
  left: -57px;
  background: #26314F;
  border-radius: 50%;
}

.hill-bg-2 {
  top: 197px;
  left: 177px;
}
