


/* https://www.joshwcomeau.com/animation/css-transitions/ */

/* EXAMPLE 1 ---------------------------------------------------------- */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: slateblue;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.btn {
  transition: transform 250ms;
}

.btn:hover {
  transform: translateY(-10px);
}



/* EXAMPLE 2 ---------------------------------------------------------- */

.wrapper {
  display: flex;
}

.box {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 4px;
  outline-offset: 4px;
}

.box:first-of-type {
  margin-right: 16px;
}

.accelerated.box {
  transition: transform 750ms;
  will-change: transform;
  background: slateblue;
}

.accelerated.box:hover,
.accelerated.box:focus {
  transform: translateY(400px)
}

.janky.box {
  transition: margin-top 750ms;
  will-change: margin-top;
  background: deeppink;
}

.janky.box:focus,
.janky.box:hover {
  margin-top: 400px;
}









