.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #fff;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stage {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 60px;
  left: 60px;
  background: #1d4253;
  background: linear-gradient(to bottom, #1d4253 0%, #6bb5c4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1d4253", endColorstr="#6bb5c4",GradientType=0 );
  border-radius: 50%;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 1px;
  background: #fff;
}

.star-1 {
  top: 278px;
  left: 69px;
  -webkit-animation: 2.4s flickr -0.3s infinite;
          animation: 2.4s flickr -0.3s infinite;
}

.star-2 {
  top: 29px;
  left: 15px;
  -webkit-animation: 2.9s flickr -0.5s infinite;
          animation: 2.9s flickr -0.5s infinite;
}

.star-3 {
  top: 181px;
  left: 119px;
  -webkit-animation: 2.2s flickr -1.9s infinite;
          animation: 2.2s flickr -1.9s infinite;
}

.star-4 {
  top: 254px;
  left: 91px;
  -webkit-animation: 2.6s flickr -0.7s infinite;
          animation: 2.6s flickr -0.7s infinite;
}

.star-5 {
  top: 4px;
  left: 52px;
  -webkit-animation: 3.2s flickr -0.5s infinite;
          animation: 3.2s flickr -0.5s infinite;
}

.star-6 {
  top: 254px;
  left: 189px;
  -webkit-animation: 3.2s flickr -1.7s infinite;
          animation: 3.2s flickr -1.7s infinite;
}

.star-7 {
  top: 241px;
  left: 158px;
  -webkit-animation: 2.7s flickr -1.5s infinite;
          animation: 2.7s flickr -1.5s infinite;
}

.star-8 {
  top: 252px;
  left: 90px;
  -webkit-animation: 3.7s flickr -1.7s infinite;
          animation: 3.7s flickr -1.7s infinite;
}

.star-9 {
  top: 124px;
  left: 185px;
  -webkit-animation: 3.3s flickr -0.3s infinite;
          animation: 3.3s flickr -0.3s infinite;
}

.star-10 {
  top: 2px;
  left: 179px;
  -webkit-animation: 2.2s flickr -1.9s infinite;
          animation: 2.2s flickr -1.9s infinite;
}

.star-11 {
  top: 206px;
  left: 182px;
  -webkit-animation: 2.5s flickr -1.9s infinite;
          animation: 2.5s flickr -1.9s infinite;
}

.star-12 {
  top: 98px;
  left: 149px;
  -webkit-animation: 2.7s flickr -1.9s infinite;
          animation: 2.7s flickr -1.9s infinite;
}

.star-13 {
  top: 79px;
  left: 24px;
  -webkit-animation: 2.2s flickr -0.8s infinite;
          animation: 2.2s flickr -0.8s infinite;
}

.star-14 {
  top: 258px;
  left: 85px;
  -webkit-animation: 2.1s flickr -1.4s infinite;
          animation: 2.1s flickr -1.4s infinite;
}

.star-15 {
  top: 42px;
  left: 54px;
  -webkit-animation: 3.4s flickr -1.4s infinite;
          animation: 3.4s flickr -1.4s infinite;
}

.star-16 {
  top: 74px;
  left: 142px;
  -webkit-animation: 3.1s flickr -1.6s infinite;
          animation: 3.1s flickr -1.6s infinite;
}

.star-17 {
  top: 158px;
  left: 189px;
  -webkit-animation: 2.7s flickr -0.8s infinite;
          animation: 2.7s flickr -0.8s infinite;
}

.star-18 {
  top: 19px;
  left: 38px;
  -webkit-animation: 3.9s flickr -0.6s infinite;
          animation: 3.9s flickr -0.6s infinite;
}

.star-19 {
  top: 200px;
  left: 120px;
  -webkit-animation: 2.1s flickr -0.6s infinite;
          animation: 2.1s flickr -0.6s infinite;
}

.star-20 {
  top: 68px;
  left: 63px;
  -webkit-animation: 2.9s flickr -2s infinite;
          animation: 2.9s flickr -2s infinite;
}

.star-21 {
  top: 131px;
  left: 269px;
  -webkit-animation: 3.7s flickr -0.6s infinite;
          animation: 3.7s flickr -0.6s infinite;
}

.star-22 {
  top: 178px;
  left: 240px;
  -webkit-animation: 3.4s flickr -1.9s infinite;
          animation: 3.4s flickr -1.9s infinite;
}

.star-23 {
  top: 262px;
  left: 40px;
  -webkit-animation: 3.2s flickr -0.4s infinite;
          animation: 3.2s flickr -0.4s infinite;
}

.star-24 {
  top: 168px;
  left: 22px;
  -webkit-animation: 3.4s flickr -0.3s infinite;
          animation: 3.4s flickr -0.3s infinite;
}

.star-25 {
  top: 194px;
  left: 110px;
  -webkit-animation: 3.3s flickr -0.8s infinite;
          animation: 3.3s flickr -0.8s infinite;
}

.star-26 {
  top: 110px;
  left: 249px;
  -webkit-animation: 3.8s flickr -1.5s infinite;
          animation: 3.8s flickr -1.5s infinite;
}

.star-27 {
  top: 62px;
  left: 254px;
  -webkit-animation: 2.5s flickr -1.4s infinite;
          animation: 2.5s flickr -1.4s infinite;
}

.star-28 {
  top: 93px;
  left: 78px;
  -webkit-animation: 2.6s flickr -0.1s infinite;
          animation: 2.6s flickr -0.1s infinite;
}

.star-29 {
  top: 110px;
  left: 117px;
  -webkit-animation: 2.4s flickr -0.3s infinite;
          animation: 2.4s flickr -0.3s infinite;
}

.star-30 {
  top: 178px;
  left: 135px;
  -webkit-animation: 3.2s flickr -0.2s infinite;
          animation: 3.2s flickr -0.2s infinite;
}

.star-31 {
  top: 71px;
  left: 97px;
  -webkit-animation: 3.5s flickr -1.8s infinite;
          animation: 3.5s flickr -1.8s infinite;
}

.star-32 {
  top: 230px;
  left: 232px;
  -webkit-animation: 3.1s flickr -1.5s infinite;
          animation: 3.1s flickr -1.5s infinite;
}

.star-33 {
  top: 65px;
  left: 86px;
  -webkit-animation: 3.8s flickr -1.4s infinite;
          animation: 3.8s flickr -1.4s infinite;
}

.star-34 {
  top: 224px;
  left: 26px;
  -webkit-animation: 2.2s flickr -1.8s infinite;
          animation: 2.2s flickr -1.8s infinite;
}

.star-35 {
  top: 225px;
  left: 78px;
  -webkit-animation: 2.1s flickr -2s infinite;
          animation: 2.1s flickr -2s infinite;
}

.star-36 {
  top: 54px;
  left: 138px;
  -webkit-animation: 2.9s flickr -1.4s infinite;
          animation: 2.9s flickr -1.4s infinite;
}

.star-37 {
  top: 125px;
  left: 5px;
  -webkit-animation: 2.9s flickr -1.5s infinite;
          animation: 2.9s flickr -1.5s infinite;
}

.star-38 {
  top: 193px;
  left: 227px;
  -webkit-animation: 3.6s flickr -1.7s infinite;
          animation: 3.6s flickr -1.7s infinite;
}

.star-39 {
  top: 162px;
  left: 184px;
  -webkit-animation: 3.7s flickr -1.2s infinite;
          animation: 3.7s flickr -1.2s infinite;
}

.star-40 {
  top: 231px;
  left: 82px;
  -webkit-animation: 3.2s flickr -1.1s infinite;
          animation: 3.2s flickr -1.1s infinite;
}

.star-41 {
  top: 29px;
  left: 78px;
  -webkit-animation: 2.2s flickr -0.6s infinite;
          animation: 2.2s flickr -0.6s infinite;
}

.star-42 {
  top: 230px;
  left: 23px;
  -webkit-animation: 3.7s flickr -0.8s infinite;
          animation: 3.7s flickr -0.8s infinite;
}

.star-43 {
  top: 69px;
  left: 51px;
  -webkit-animation: 2.4s flickr -2s infinite;
          animation: 2.4s flickr -2s infinite;
}

.star-44 {
  top: 74px;
  left: 261px;
  -webkit-animation: 2.1s flickr -0.5s infinite;
          animation: 2.1s flickr -0.5s infinite;
}

.star-45 {
  top: 213px;
  left: 11px;
  -webkit-animation: 2.4s flickr -0.4s infinite;
          animation: 2.4s flickr -0.4s infinite;
}

.star-46 {
  top: 153px;
  left: 202px;
  -webkit-animation: 4s flickr -0.7s infinite;
          animation: 4s flickr -0.7s infinite;
}

.star-47 {
  top: 18px;
  left: 224px;
  -webkit-animation: 3.8s flickr -1.8s infinite;
          animation: 3.8s flickr -1.8s infinite;
}

.star-48 {
  top: 251px;
  left: 47px;
  -webkit-animation: 2.8s flickr -0.4s infinite;
          animation: 2.8s flickr -0.4s infinite;
}

.star-49 {
  top: 270px;
  left: 205px;
  -webkit-animation: 2.6s flickr -1.8s infinite;
          animation: 2.6s flickr -1.8s infinite;
}

.star-50 {
  top: 220px;
  left: 143px;
  -webkit-animation: 2.1s flickr -1.4s infinite;
          animation: 2.1s flickr -1.4s infinite;
}

.star-51 {
  top: 172px;
  left: 210px;
  -webkit-animation: 3.1s flickr -0.8s infinite;
          animation: 3.1s flickr -0.8s infinite;
}

.star-52 {
  top: 84px;
  left: 64px;
  -webkit-animation: 3.3s flickr -1s infinite;
          animation: 3.3s flickr -1s infinite;
}

.star-53 {
  top: 94px;
  left: 185px;
  -webkit-animation: 3.1s flickr -0.4s infinite;
          animation: 3.1s flickr -0.4s infinite;
}

.star-54 {
  top: 179px;
  left: 157px;
  -webkit-animation: 2.5s flickr -0.3s infinite;
          animation: 2.5s flickr -0.3s infinite;
}

.star-55 {
  top: 45px;
  left: 82px;
  -webkit-animation: 3.3s flickr -0.9s infinite;
          animation: 3.3s flickr -0.9s infinite;
}

.star-56 {
  top: 58px;
  left: 16px;
  -webkit-animation: 2.1s flickr -0.5s infinite;
          animation: 2.1s flickr -0.5s infinite;
}

.star-57 {
  top: 96px;
  left: 189px;
  -webkit-animation: 2.6s flickr -0.3s infinite;
          animation: 2.6s flickr -0.3s infinite;
}

.star-58 {
  top: 199px;
  left: 108px;
  -webkit-animation: 3.1s flickr -0.3s infinite;
          animation: 3.1s flickr -0.3s infinite;
}

.star-59 {
  top: 121px;
  left: 191px;
  -webkit-animation: 3.9s flickr -1.6s infinite;
          animation: 3.9s flickr -1.6s infinite;
}

.star-60 {
  top: 170px;
  left: 45px;
  -webkit-animation: 2.6s flickr -1.7s infinite;
          animation: 2.6s flickr -1.7s infinite;
}

.star-61 {
  top: 6px;
  left: 164px;
  -webkit-animation: 3.1s flickr -0.5s infinite;
          animation: 3.1s flickr -0.5s infinite;
}

.star-62 {
  top: 34px;
  left: 165px;
  -webkit-animation: 2.3s flickr -1.5s infinite;
          animation: 2.3s flickr -1.5s infinite;
}

.star-63 {
  top: 6px;
  left: 1px;
  -webkit-animation: 3.1s flickr -1.4s infinite;
          animation: 3.1s flickr -1.4s infinite;
}

.star-64 {
  top: 159px;
  left: 147px;
  -webkit-animation: 2.3s flickr -1.6s infinite;
          animation: 2.3s flickr -1.6s infinite;
}

.star-65 {
  top: 231px;
  left: 26px;
  -webkit-animation: 2.9s flickr -1.3s infinite;
          animation: 2.9s flickr -1.3s infinite;
}

.star-66 {
  top: 260px;
  left: 156px;
  -webkit-animation: 3.9s flickr -0.5s infinite;
          animation: 3.9s flickr -0.5s infinite;
}

.star-67 {
  top: 60px;
  left: 172px;
  -webkit-animation: 3.5s flickr -0.2s infinite;
          animation: 3.5s flickr -0.2s infinite;
}

.star-68 {
  top: 192px;
  left: 47px;
  -webkit-animation: 2.8s flickr -1.8s infinite;
          animation: 2.8s flickr -1.8s infinite;
}

.star-69 {
  top: 57px;
  left: 117px;
  -webkit-animation: 3s flickr -0.8s infinite;
          animation: 3s flickr -0.8s infinite;
}

.star-70 {
  top: 78px;
  left: 19px;
  -webkit-animation: 3.1s flickr -1.5s infinite;
          animation: 3.1s flickr -1.5s infinite;
}

.star-71 {
  top: 243px;
  left: 123px;
  -webkit-animation: 2.9s flickr -1.6s infinite;
          animation: 2.9s flickr -1.6s infinite;
}

.star-72 {
  top: 191px;
  left: 244px;
  -webkit-animation: 2.5s flickr -1.6s infinite;
          animation: 2.5s flickr -1.6s infinite;
}

.star-73 {
  top: 185px;
  left: 259px;
  -webkit-animation: 2.5s flickr -0.6s infinite;
          animation: 2.5s flickr -0.6s infinite;
}

.star-74 {
  top: 247px;
  left: 152px;
  -webkit-animation: 3.8s flickr -2s infinite;
          animation: 3.8s flickr -2s infinite;
}

.star-75 {
  top: 246px;
  left: 194px;
  -webkit-animation: 3.3s flickr -0.6s infinite;
          animation: 3.3s flickr -0.6s infinite;
}

.star-76 {
  top: 251px;
  left: 55px;
  -webkit-animation: 2.3s flickr -0.1s infinite;
          animation: 2.3s flickr -0.1s infinite;
}

.star-77 {
  top: 225px;
  left: 273px;
  -webkit-animation: 3.4s flickr -0.2s infinite;
          animation: 3.4s flickr -0.2s infinite;
}

.star-78 {
  top: 119px;
  left: 34px;
  -webkit-animation: 2.7s flickr -0.1s infinite;
          animation: 2.7s flickr -0.1s infinite;
}

.star-79 {
  top: 245px;
  left: 13px;
  -webkit-animation: 3.2s flickr -0.3s infinite;
          animation: 3.2s flickr -0.3s infinite;
}

.star-80 {
  top: 28px;
  left: 94px;
  -webkit-animation: 3.5s flickr -1s infinite;
          animation: 3.5s flickr -1s infinite;
}

.star-81 {
  top: 187px;
  left: 81px;
  -webkit-animation: 3.4s flickr -1.5s infinite;
          animation: 3.4s flickr -1.5s infinite;
}

.star-82 {
  top: 191px;
  left: 280px;
  -webkit-animation: 2.5s flickr -1.4s infinite;
          animation: 2.5s flickr -1.4s infinite;
}

.star-83 {
  top: 20px;
  left: 94px;
  -webkit-animation: 3.8s flickr -1.7s infinite;
          animation: 3.8s flickr -1.7s infinite;
}

.star-84 {
  top: 161px;
  left: 123px;
  -webkit-animation: 3.5s flickr -0.7s infinite;
          animation: 3.5s flickr -0.7s infinite;
}

.star-85 {
  top: 26px;
  left: 1px;
  -webkit-animation: 3.6s flickr -0.6s infinite;
          animation: 3.6s flickr -0.6s infinite;
}

.star-86 {
  top: 12px;
  left: 175px;
  -webkit-animation: 3.9s flickr -1.3s infinite;
          animation: 3.9s flickr -1.3s infinite;
}

.star-87 {
  top: 115px;
  left: 20px;
  -webkit-animation: 2.3s flickr -1.6s infinite;
          animation: 2.3s flickr -1.6s infinite;
}

.star-88 {
  top: 231px;
  left: 75px;
  -webkit-animation: 2.7s flickr -0.5s infinite;
          animation: 2.7s flickr -0.5s infinite;
}

.star-89 {
  top: 89px;
  left: 258px;
  -webkit-animation: 3.4s flickr -1.7s infinite;
          animation: 3.4s flickr -1.7s infinite;
}

.star-90 {
  top: 105px;
  left: 140px;
  -webkit-animation: 2.1s flickr -1.8s infinite;
          animation: 2.1s flickr -1.8s infinite;
}

.star-91 {
  top: 216px;
  left: 242px;
  -webkit-animation: 3.2s flickr -1s infinite;
          animation: 3.2s flickr -1s infinite;
}

.star-92 {
  top: 27px;
  left: 68px;
  -webkit-animation: 3.2s flickr -2s infinite;
          animation: 3.2s flickr -2s infinite;
}

.star-93 {
  top: 181px;
  left: 265px;
  -webkit-animation: 2.1s flickr -1.2s infinite;
          animation: 2.1s flickr -1.2s infinite;
}

.star-94 {
  top: 67px;
  left: 153px;
  -webkit-animation: 3.9s flickr -0.5s infinite;
          animation: 3.9s flickr -0.5s infinite;
}

.star-95 {
  top: 189px;
  left: 53px;
  -webkit-animation: 3.5s flickr -1.1s infinite;
          animation: 3.5s flickr -1.1s infinite;
}

.star-96 {
  top: 213px;
  left: 6px;
  -webkit-animation: 3.1s flickr -2s infinite;
          animation: 3.1s flickr -2s infinite;
}

.star-97 {
  top: 204px;
  left: 219px;
  -webkit-animation: 2.3s flickr -0.6s infinite;
          animation: 2.3s flickr -0.6s infinite;
}

.star-98 {
  top: 122px;
  left: 186px;
  -webkit-animation: 3.3s flickr -0.9s infinite;
          animation: 3.3s flickr -0.9s infinite;
}

.star-99 {
  top: 9px;
  left: 130px;
  -webkit-animation: 3.6s flickr -0.7s infinite;
          animation: 3.6s flickr -0.7s infinite;
}

.star-100 {
  top: 22px;
  left: 262px;
  -webkit-animation: 4s flickr -0.5s infinite;
          animation: 4s flickr -0.5s infinite;
}

.star-101 {
  top: 11px;
  left: 10px;
  -webkit-animation: 3.1s flickr -1.4s infinite;
          animation: 3.1s flickr -1.4s infinite;
}

.star-102 {
  top: 34px;
  left: 10px;
  -webkit-animation: 2.5s flickr -0.6s infinite;
          animation: 2.5s flickr -0.6s infinite;
}

.star-103 {
  top: 275px;
  left: 248px;
  -webkit-animation: 2.7s flickr -1.7s infinite;
          animation: 2.7s flickr -1.7s infinite;
}

.star-104 {
  top: 31px;
  left: 16px;
  -webkit-animation: 2.4s flickr -1.5s infinite;
          animation: 2.4s flickr -1.5s infinite;
}

.star-105 {
  top: 91px;
  left: 40px;
  -webkit-animation: 2.8s flickr -1.3s infinite;
          animation: 2.8s flickr -1.3s infinite;
}

.star-106 {
  top: 164px;
  left: 277px;
  -webkit-animation: 3.8s flickr -0.3s infinite;
          animation: 3.8s flickr -0.3s infinite;
}

.star-107 {
  top: 242px;
  left: 94px;
  -webkit-animation: 3.9s flickr -1.1s infinite;
          animation: 3.9s flickr -1.1s infinite;
}

.star-108 {
  top: 197px;
  left: 87px;
  -webkit-animation: 2.9s flickr -2s infinite;
          animation: 2.9s flickr -2s infinite;
}

.star-109 {
  top: 200px;
  left: 160px;
  -webkit-animation: 3.1s flickr -1.2s infinite;
          animation: 3.1s flickr -1.2s infinite;
}

.star-110 {
  top: 196px;
  left: 26px;
  -webkit-animation: 3.2s flickr -1.1s infinite;
          animation: 3.2s flickr -1.1s infinite;
}

.star-111 {
  top: 223px;
  left: 22px;
  -webkit-animation: 2.8s flickr -1.9s infinite;
          animation: 2.8s flickr -1.9s infinite;
}

.star-112 {
  top: 29px;
  left: 266px;
  -webkit-animation: 4s flickr -0.6s infinite;
          animation: 4s flickr -0.6s infinite;
}

.star-113 {
  top: 241px;
  left: 59px;
  -webkit-animation: 3.8s flickr -1.4s infinite;
          animation: 3.8s flickr -1.4s infinite;
}

.star-114 {
  top: 28px;
  left: 160px;
  -webkit-animation: 2.5s flickr -1s infinite;
          animation: 2.5s flickr -1s infinite;
}

.star-115 {
  top: 52px;
  left: 80px;
  -webkit-animation: 2.4s flickr -0.9s infinite;
          animation: 2.4s flickr -0.9s infinite;
}

.star-116 {
  top: 169px;
  left: 73px;
  -webkit-animation: 2.1s flickr -1.9s infinite;
          animation: 2.1s flickr -1.9s infinite;
}

.star-117 {
  top: 20px;
  left: 168px;
  -webkit-animation: 3.6s flickr -1.2s infinite;
          animation: 3.6s flickr -1.2s infinite;
}

.star-118 {
  top: 102px;
  left: 168px;
  -webkit-animation: 3.5s flickr -0.6s infinite;
          animation: 3.5s flickr -0.6s infinite;
}

.star-119 {
  top: 135px;
  left: 26px;
  -webkit-animation: 2.3s flickr -0.7s infinite;
          animation: 2.3s flickr -0.7s infinite;
}

.star-120 {
  top: 114px;
  left: 115px;
  -webkit-animation: 2.3s flickr -0.6s infinite;
          animation: 2.3s flickr -0.6s infinite;
}

.star-121 {
  top: 84px;
  left: 200px;
  -webkit-animation: 2.7s flickr -0.7s infinite;
          animation: 2.7s flickr -0.7s infinite;
}

.star-122 {
  top: 274px;
  left: 124px;
  -webkit-animation: 2.5s flickr -1.4s infinite;
          animation: 2.5s flickr -1.4s infinite;
}

.star-123 {
  top: 279px;
  left: 218px;
  -webkit-animation: 2.1s flickr -1.6s infinite;
          animation: 2.1s flickr -1.6s infinite;
}

.star-124 {
  top: 223px;
  left: 249px;
  -webkit-animation: 3.1s flickr -1.1s infinite;
          animation: 3.1s flickr -1.1s infinite;
}

.star-125 {
  top: 67px;
  left: 69px;
  -webkit-animation: 2.6s flickr -0.2s infinite;
          animation: 2.6s flickr -0.2s infinite;
}

.star-126 {
  top: 28px;
  left: 113px;
  -webkit-animation: 3.8s flickr -1s infinite;
          animation: 3.8s flickr -1s infinite;
}

.star-127 {
  top: 112px;
  left: 276px;
  -webkit-animation: 3.4s flickr -1.7s infinite;
          animation: 3.4s flickr -1.7s infinite;
}

.star-128 {
  top: 92px;
  left: 230px;
  -webkit-animation: 3.5s flickr -1.6s infinite;
          animation: 3.5s flickr -1.6s infinite;
}

.star-129 {
  top: 207px;
  left: 68px;
  -webkit-animation: 2.4s flickr -1.4s infinite;
          animation: 2.4s flickr -1.4s infinite;
}

.star-130 {
  top: 211px;
  left: 147px;
  -webkit-animation: 2.2s flickr -1.5s infinite;
          animation: 2.2s flickr -1.5s infinite;
}

.star-131 {
  top: 222px;
  left: 142px;
  -webkit-animation: 3.5s flickr -0.3s infinite;
          animation: 3.5s flickr -0.3s infinite;
}

.star-132 {
  top: 68px;
  left: 24px;
  -webkit-animation: 3.5s flickr -1.9s infinite;
          animation: 3.5s flickr -1.9s infinite;
}

.star-133 {
  top: 176px;
  left: 223px;
  -webkit-animation: 3.7s flickr -0.4s infinite;
          animation: 3.7s flickr -0.4s infinite;
}

.star-134 {
  top: 141px;
  left: 143px;
  -webkit-animation: 2.7s flickr -1.2s infinite;
          animation: 2.7s flickr -1.2s infinite;
}

.star-135 {
  top: 159px;
  left: 4px;
  -webkit-animation: 2.1s flickr -1.2s infinite;
          animation: 2.1s flickr -1.2s infinite;
}

.star-136 {
  top: 105px;
  left: 229px;
  -webkit-animation: 2.5s flickr -0.3s infinite;
          animation: 2.5s flickr -0.3s infinite;
}

.star-137 {
  top: 58px;
  left: 233px;
  -webkit-animation: 4s flickr -1.8s infinite;
          animation: 4s flickr -1.8s infinite;
}

.star-138 {
  top: 41px;
  left: 211px;
  -webkit-animation: 3.2s flickr -1.4s infinite;
          animation: 3.2s flickr -1.4s infinite;
}

.star-139 {
  top: 256px;
  left: 148px;
  -webkit-animation: 3.2s flickr -0.7s infinite;
          animation: 3.2s flickr -0.7s infinite;
}

.star-140 {
  top: 32px;
  left: 48px;
  -webkit-animation: 2.9s flickr -0.6s infinite;
          animation: 2.9s flickr -0.6s infinite;
}

.star-141 {
  top: 77px;
  left: 42px;
  -webkit-animation: 2.3s flickr -1.9s infinite;
          animation: 2.3s flickr -1.9s infinite;
}

.star-142 {
  top: 77px;
  left: 34px;
  -webkit-animation: 2.7s flickr -0.6s infinite;
          animation: 2.7s flickr -0.6s infinite;
}

.star-143 {
  top: 170px;
  left: 83px;
  -webkit-animation: 2.1s flickr -1.2s infinite;
          animation: 2.1s flickr -1.2s infinite;
}

.star-144 {
  top: 149px;
  left: 168px;
  -webkit-animation: 3s flickr -1.6s infinite;
          animation: 3s flickr -1.6s infinite;
}

.star-145 {
  top: 67px;
  left: 99px;
  -webkit-animation: 2.6s flickr -1.4s infinite;
          animation: 2.6s flickr -1.4s infinite;
}

.star-146 {
  top: 229px;
  left: 137px;
  -webkit-animation: 2.3s flickr -1.6s infinite;
          animation: 2.3s flickr -1.6s infinite;
}

.star-147 {
  top: 201px;
  left: 141px;
  -webkit-animation: 2.9s flickr -1.9s infinite;
          animation: 2.9s flickr -1.9s infinite;
}

.star-148 {
  top: 28px;
  left: 55px;
  -webkit-animation: 3.3s flickr -1.2s infinite;
          animation: 3.3s flickr -1.2s infinite;
}

.star-149 {
  top: 175px;
  left: 256px;
  -webkit-animation: 3.6s flickr -1.8s infinite;
          animation: 3.6s flickr -1.8s infinite;
}

.star-150 {
  top: 152px;
  left: 185px;
  -webkit-animation: 4s flickr -1.2s infinite;
          animation: 4s flickr -1.2s infinite;
}

.star-151 {
  top: 154px;
  left: 105px;
  -webkit-animation: 2.9s flickr -1.2s infinite;
          animation: 2.9s flickr -1.2s infinite;
}

.star-152 {
  top: 144px;
  left: 166px;
  -webkit-animation: 2.3s flickr -1.1s infinite;
          animation: 2.3s flickr -1.1s infinite;
}

.star-153 {
  top: 266px;
  left: 267px;
  -webkit-animation: 3.8s flickr -2s infinite;
          animation: 3.8s flickr -2s infinite;
}

.star-154 {
  top: 228px;
  left: 107px;
  -webkit-animation: 3.5s flickr -0.7s infinite;
          animation: 3.5s flickr -0.7s infinite;
}

.star-155 {
  top: 231px;
  left: 218px;
  -webkit-animation: 3.9s flickr -1.1s infinite;
          animation: 3.9s flickr -1.1s infinite;
}

.star-156 {
  top: 116px;
  left: 256px;
  -webkit-animation: 3.5s flickr -1.1s infinite;
          animation: 3.5s flickr -1.1s infinite;
}

.star-157 {
  top: 105px;
  left: 221px;
  -webkit-animation: 2.1s flickr -0.8s infinite;
          animation: 2.1s flickr -0.8s infinite;
}

.star-158 {
  top: 175px;
  left: 216px;
  -webkit-animation: 3s flickr -0.9s infinite;
          animation: 3s flickr -0.9s infinite;
}

.star-159 {
  top: 250px;
  left: 7px;
  -webkit-animation: 3.4s flickr -1.4s infinite;
          animation: 3.4s flickr -1.4s infinite;
}

.star-160 {
  top: 195px;
  left: 205px;
  -webkit-animation: 4s flickr -0.9s infinite;
          animation: 4s flickr -0.9s infinite;
}

.star-161 {
  top: 274px;
  left: 94px;
  -webkit-animation: 2.4s flickr -0.1s infinite;
          animation: 2.4s flickr -0.1s infinite;
}

.star-162 {
  top: 78px;
  left: 61px;
  -webkit-animation: 4s flickr -0.9s infinite;
          animation: 4s flickr -0.9s infinite;
}

.star-163 {
  top: 100px;
  left: 82px;
  -webkit-animation: 2.7s flickr -1.5s infinite;
          animation: 2.7s flickr -1.5s infinite;
}

.star-164 {
  top: 92px;
  left: 93px;
  -webkit-animation: 3s flickr -1.1s infinite;
          animation: 3s flickr -1.1s infinite;
}

.star-165 {
  top: 190px;
  left: 86px;
  -webkit-animation: 3.5s flickr -0.6s infinite;
          animation: 3.5s flickr -0.6s infinite;
}

.star-166 {
  top: 273px;
  left: 146px;
  -webkit-animation: 2.6s flickr -1s infinite;
          animation: 2.6s flickr -1s infinite;
}

.star-167 {
  top: 131px;
  left: 269px;
  -webkit-animation: 2.2s flickr -0.6s infinite;
          animation: 2.2s flickr -0.6s infinite;
}

.star-168 {
  top: 183px;
  left: 45px;
  -webkit-animation: 2.9s flickr -1.7s infinite;
          animation: 2.9s flickr -1.7s infinite;
}

.star-169 {
  top: 158px;
  left: 141px;
  -webkit-animation: 3.3s flickr -0.3s infinite;
          animation: 3.3s flickr -0.3s infinite;
}

.star-170 {
  top: 148px;
  left: 124px;
  -webkit-animation: 3.5s flickr -1.5s infinite;
          animation: 3.5s flickr -1.5s infinite;
}

.star-171 {
  top: 38px;
  left: 242px;
  -webkit-animation: 3.4s flickr -1.9s infinite;
          animation: 3.4s flickr -1.9s infinite;
}

.star-172 {
  top: 8px;
  left: 145px;
  -webkit-animation: 2.5s flickr -0.3s infinite;
          animation: 2.5s flickr -0.3s infinite;
}

.star-173 {
  top: 180px;
  left: 176px;
  -webkit-animation: 3.2s flickr -2s infinite;
          animation: 3.2s flickr -2s infinite;
}

.star-174 {
  top: 280px;
  left: 45px;
  -webkit-animation: 3.7s flickr -1.2s infinite;
          animation: 3.7s flickr -1.2s infinite;
}

.star-175 {
  top: 157px;
  left: 130px;
  -webkit-animation: 3.5s flickr -0.6s infinite;
          animation: 3.5s flickr -0.6s infinite;
}

.star-176 {
  top: 200px;
  left: 148px;
  -webkit-animation: 2.4s flickr -0.5s infinite;
          animation: 2.4s flickr -0.5s infinite;
}

.star-177 {
  top: 270px;
  left: 227px;
  -webkit-animation: 3.1s flickr -0.3s infinite;
          animation: 3.1s flickr -0.3s infinite;
}
