.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: #27ae60;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ring {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 160px;
  left: 160px;
}
.ring .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 40px;
  left: 40px;
}
.ring .dot .fill {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50px;
}

.ring-1 .fill {
  -webkit-animation: pulsate 2s ease-in-out 0.3333333333s alternate infinite both;
          animation: pulsate 2s ease-in-out 0.3333333333s alternate infinite both;
}
.ring-1 .dot-1 {
  transform: translate3d(0, -40px, 0) rotate(0deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-2 {
  transform: translate3d(0, -40px, 0) rotate(20deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-3 {
  transform: translate3d(0, -40px, 0) rotate(40deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-4 {
  transform: translate3d(0, -40px, 0) rotate(60deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-5 {
  transform: translate3d(0, -40px, 0) rotate(80deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-6 {
  transform: translate3d(0, -40px, 0) rotate(100deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-7 {
  transform: translate3d(0, -40px, 0) rotate(120deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-8 {
  transform: translate3d(0, -40px, 0) rotate(140deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-9 {
  transform: translate3d(0, -40px, 0) rotate(160deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-10 {
  transform: translate3d(0, -40px, 0) rotate(180deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-11 {
  transform: translate3d(0, -40px, 0) rotate(200deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-12 {
  transform: translate3d(0, -40px, 0) rotate(220deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-13 {
  transform: translate3d(0, -40px, 0) rotate(240deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-14 {
  transform: translate3d(0, -40px, 0) rotate(260deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-15 {
  transform: translate3d(0, -40px, 0) rotate(280deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-16 {
  transform: translate3d(0, -40px, 0) rotate(300deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-17 {
  transform: translate3d(0, -40px, 0) rotate(320deg);
  transform-origin: 0 40px;
}
.ring-1 .dot-18 {
  transform: translate3d(0, -40px, 0) rotate(340deg);
  transform-origin: 0 40px;
}

.ring-2 .fill {
  -webkit-animation: pulsate 2s ease-in-out 0.6666666667s alternate infinite both;
          animation: pulsate 2s ease-in-out 0.6666666667s alternate infinite both;
}
.ring-2 .dot-1 {
  transform: translate3d(0, -51px, 0) rotate(0deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-2 {
  transform: translate3d(0, -51px, 0) rotate(15deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-3 {
  transform: translate3d(0, -51px, 0) rotate(30deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-4 {
  transform: translate3d(0, -51px, 0) rotate(45deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-5 {
  transform: translate3d(0, -51px, 0) rotate(60deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-6 {
  transform: translate3d(0, -51px, 0) rotate(75deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-7 {
  transform: translate3d(0, -51px, 0) rotate(90deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-8 {
  transform: translate3d(0, -51px, 0) rotate(105deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-9 {
  transform: translate3d(0, -51px, 0) rotate(120deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-10 {
  transform: translate3d(0, -51px, 0) rotate(135deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-11 {
  transform: translate3d(0, -51px, 0) rotate(150deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-12 {
  transform: translate3d(0, -51px, 0) rotate(165deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-13 {
  transform: translate3d(0, -51px, 0) rotate(180deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-14 {
  transform: translate3d(0, -51px, 0) rotate(195deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-15 {
  transform: translate3d(0, -51px, 0) rotate(210deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-16 {
  transform: translate3d(0, -51px, 0) rotate(225deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-17 {
  transform: translate3d(0, -51px, 0) rotate(240deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-18 {
  transform: translate3d(0, -51px, 0) rotate(255deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-19 {
  transform: translate3d(0, -51px, 0) rotate(270deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-20 {
  transform: translate3d(0, -51px, 0) rotate(285deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-21 {
  transform: translate3d(0, -51px, 0) rotate(300deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-22 {
  transform: translate3d(0, -51px, 0) rotate(315deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-23 {
  transform: translate3d(0, -51px, 0) rotate(330deg);
  transform-origin: 0 51px;
}
.ring-2 .dot-24 {
  transform: translate3d(0, -51px, 0) rotate(345deg);
  transform-origin: 0 51px;
}

.ring-3 .fill {
  -webkit-animation: pulsate 2s ease-in-out 1s alternate infinite both;
          animation: pulsate 2s ease-in-out 1s alternate infinite both;
}
.ring-3 .dot-1 {
  transform: translate3d(0, -62px, 0) rotate(0deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-2 {
  transform: translate3d(0, -62px, 0) rotate(12deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-3 {
  transform: translate3d(0, -62px, 0) rotate(24deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-4 {
  transform: translate3d(0, -62px, 0) rotate(36deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-5 {
  transform: translate3d(0, -62px, 0) rotate(48deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-6 {
  transform: translate3d(0, -62px, 0) rotate(60deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-7 {
  transform: translate3d(0, -62px, 0) rotate(72deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-8 {
  transform: translate3d(0, -62px, 0) rotate(84deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-9 {
  transform: translate3d(0, -62px, 0) rotate(96deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-10 {
  transform: translate3d(0, -62px, 0) rotate(108deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-11 {
  transform: translate3d(0, -62px, 0) rotate(120deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-12 {
  transform: translate3d(0, -62px, 0) rotate(132deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-13 {
  transform: translate3d(0, -62px, 0) rotate(144deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-14 {
  transform: translate3d(0, -62px, 0) rotate(156deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-15 {
  transform: translate3d(0, -62px, 0) rotate(168deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-16 {
  transform: translate3d(0, -62px, 0) rotate(180deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-17 {
  transform: translate3d(0, -62px, 0) rotate(192deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-18 {
  transform: translate3d(0, -62px, 0) rotate(204deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-19 {
  transform: translate3d(0, -62px, 0) rotate(216deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-20 {
  transform: translate3d(0, -62px, 0) rotate(228deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-21 {
  transform: translate3d(0, -62px, 0) rotate(240deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-22 {
  transform: translate3d(0, -62px, 0) rotate(252deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-23 {
  transform: translate3d(0, -62px, 0) rotate(264deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-24 {
  transform: translate3d(0, -62px, 0) rotate(276deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-25 {
  transform: translate3d(0, -62px, 0) rotate(288deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-26 {
  transform: translate3d(0, -62px, 0) rotate(300deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-27 {
  transform: translate3d(0, -62px, 0) rotate(312deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-28 {
  transform: translate3d(0, -62px, 0) rotate(324deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-29 {
  transform: translate3d(0, -62px, 0) rotate(336deg);
  transform-origin: 0 62px;
}
.ring-3 .dot-30 {
  transform: translate3d(0, -62px, 0) rotate(348deg);
  transform-origin: 0 62px;
}

.ring-4 .fill {
  -webkit-animation: pulsate 2s ease-in-out 1.3333333333s alternate infinite both;
          animation: pulsate 2s ease-in-out 1.3333333333s alternate infinite both;
}
.ring-4 .dot-1 {
  transform: translate3d(0, -73px, 0) rotate(0deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-2 {
  transform: translate3d(0, -73px, 0) rotate(10deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-3 {
  transform: translate3d(0, -73px, 0) rotate(20deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-4 {
  transform: translate3d(0, -73px, 0) rotate(30deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-5 {
  transform: translate3d(0, -73px, 0) rotate(40deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-6 {
  transform: translate3d(0, -73px, 0) rotate(50deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-7 {
  transform: translate3d(0, -73px, 0) rotate(60deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-8 {
  transform: translate3d(0, -73px, 0) rotate(70deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-9 {
  transform: translate3d(0, -73px, 0) rotate(80deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-10 {
  transform: translate3d(0, -73px, 0) rotate(90deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-11 {
  transform: translate3d(0, -73px, 0) rotate(100deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-12 {
  transform: translate3d(0, -73px, 0) rotate(110deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-13 {
  transform: translate3d(0, -73px, 0) rotate(120deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-14 {
  transform: translate3d(0, -73px, 0) rotate(130deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-15 {
  transform: translate3d(0, -73px, 0) rotate(140deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-16 {
  transform: translate3d(0, -73px, 0) rotate(150deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-17 {
  transform: translate3d(0, -73px, 0) rotate(160deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-18 {
  transform: translate3d(0, -73px, 0) rotate(170deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-19 {
  transform: translate3d(0, -73px, 0) rotate(180deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-20 {
  transform: translate3d(0, -73px, 0) rotate(190deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-21 {
  transform: translate3d(0, -73px, 0) rotate(200deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-22 {
  transform: translate3d(0, -73px, 0) rotate(210deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-23 {
  transform: translate3d(0, -73px, 0) rotate(220deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-24 {
  transform: translate3d(0, -73px, 0) rotate(230deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-25 {
  transform: translate3d(0, -73px, 0) rotate(240deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-26 {
  transform: translate3d(0, -73px, 0) rotate(250deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-27 {
  transform: translate3d(0, -73px, 0) rotate(260deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-28 {
  transform: translate3d(0, -73px, 0) rotate(270deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-29 {
  transform: translate3d(0, -73px, 0) rotate(280deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-30 {
  transform: translate3d(0, -73px, 0) rotate(290deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-31 {
  transform: translate3d(0, -73px, 0) rotate(300deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-32 {
  transform: translate3d(0, -73px, 0) rotate(310deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-33 {
  transform: translate3d(0, -73px, 0) rotate(320deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-34 {
  transform: translate3d(0, -73px, 0) rotate(330deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-35 {
  transform: translate3d(0, -73px, 0) rotate(340deg);
  transform-origin: 0 73px;
}
.ring-4 .dot-36 {
  transform: translate3d(0, -73px, 0) rotate(350deg);
  transform-origin: 0 73px;
}

.ring-5 .fill {
  -webkit-animation: pulsate 2s ease-in-out 1.6666666667s alternate infinite both;
          animation: pulsate 2s ease-in-out 1.6666666667s alternate infinite both;
}
.ring-5 .dot-1 {
  transform: translate3d(0, -84px, 0) rotate(0deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-2 {
  transform: translate3d(0, -84px, 0) rotate(8.5714285714deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-3 {
  transform: translate3d(0, -84px, 0) rotate(17.1428571429deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-4 {
  transform: translate3d(0, -84px, 0) rotate(25.7142857143deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-5 {
  transform: translate3d(0, -84px, 0) rotate(34.2857142857deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-6 {
  transform: translate3d(0, -84px, 0) rotate(42.8571428571deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-7 {
  transform: translate3d(0, -84px, 0) rotate(51.4285714286deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-8 {
  transform: translate3d(0, -84px, 0) rotate(60deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-9 {
  transform: translate3d(0, -84px, 0) rotate(68.5714285714deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-10 {
  transform: translate3d(0, -84px, 0) rotate(77.1428571429deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-11 {
  transform: translate3d(0, -84px, 0) rotate(85.7142857143deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-12 {
  transform: translate3d(0, -84px, 0) rotate(94.2857142857deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-13 {
  transform: translate3d(0, -84px, 0) rotate(102.8571428571deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-14 {
  transform: translate3d(0, -84px, 0) rotate(111.4285714286deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-15 {
  transform: translate3d(0, -84px, 0) rotate(120deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-16 {
  transform: translate3d(0, -84px, 0) rotate(128.5714285714deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-17 {
  transform: translate3d(0, -84px, 0) rotate(137.1428571429deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-18 {
  transform: translate3d(0, -84px, 0) rotate(145.7142857143deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-19 {
  transform: translate3d(0, -84px, 0) rotate(154.2857142857deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-20 {
  transform: translate3d(0, -84px, 0) rotate(162.8571428571deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-21 {
  transform: translate3d(0, -84px, 0) rotate(171.4285714286deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-22 {
  transform: translate3d(0, -84px, 0) rotate(180deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-23 {
  transform: translate3d(0, -84px, 0) rotate(188.5714285714deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-24 {
  transform: translate3d(0, -84px, 0) rotate(197.1428571429deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-25 {
  transform: translate3d(0, -84px, 0) rotate(205.7142857143deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-26 {
  transform: translate3d(0, -84px, 0) rotate(214.2857142857deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-27 {
  transform: translate3d(0, -84px, 0) rotate(222.8571428571deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-28 {
  transform: translate3d(0, -84px, 0) rotate(231.4285714286deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-29 {
  transform: translate3d(0, -84px, 0) rotate(240deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-30 {
  transform: translate3d(0, -84px, 0) rotate(248.5714285714deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-31 {
  transform: translate3d(0, -84px, 0) rotate(257.1428571429deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-32 {
  transform: translate3d(0, -84px, 0) rotate(265.7142857143deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-33 {
  transform: translate3d(0, -84px, 0) rotate(274.2857142857deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-34 {
  transform: translate3d(0, -84px, 0) rotate(282.8571428571deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-35 {
  transform: translate3d(0, -84px, 0) rotate(291.4285714286deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-36 {
  transform: translate3d(0, -84px, 0) rotate(300deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-37 {
  transform: translate3d(0, -84px, 0) rotate(308.5714285714deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-38 {
  transform: translate3d(0, -84px, 0) rotate(317.1428571429deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-39 {
  transform: translate3d(0, -84px, 0) rotate(325.7142857143deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-40 {
  transform: translate3d(0, -84px, 0) rotate(334.2857142857deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-41 {
  transform: translate3d(0, -84px, 0) rotate(342.8571428571deg);
  transform-origin: 0 84px;
}
.ring-5 .dot-42 {
  transform: translate3d(0, -84px, 0) rotate(351.4285714286deg);
  transform-origin: 0 84px;
}

.ring-6 .fill {
  -webkit-animation: pulsate 2s ease-in-out 2s alternate infinite both;
          animation: pulsate 2s ease-in-out 2s alternate infinite both;
}
.ring-6 .dot-1 {
  transform: translate3d(0, -95px, 0) rotate(0deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-2 {
  transform: translate3d(0, -95px, 0) rotate(7.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-3 {
  transform: translate3d(0, -95px, 0) rotate(15deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-4 {
  transform: translate3d(0, -95px, 0) rotate(22.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-5 {
  transform: translate3d(0, -95px, 0) rotate(30deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-6 {
  transform: translate3d(0, -95px, 0) rotate(37.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-7 {
  transform: translate3d(0, -95px, 0) rotate(45deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-8 {
  transform: translate3d(0, -95px, 0) rotate(52.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-9 {
  transform: translate3d(0, -95px, 0) rotate(60deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-10 {
  transform: translate3d(0, -95px, 0) rotate(67.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-11 {
  transform: translate3d(0, -95px, 0) rotate(75deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-12 {
  transform: translate3d(0, -95px, 0) rotate(82.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-13 {
  transform: translate3d(0, -95px, 0) rotate(90deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-14 {
  transform: translate3d(0, -95px, 0) rotate(97.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-15 {
  transform: translate3d(0, -95px, 0) rotate(105deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-16 {
  transform: translate3d(0, -95px, 0) rotate(112.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-17 {
  transform: translate3d(0, -95px, 0) rotate(120deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-18 {
  transform: translate3d(0, -95px, 0) rotate(127.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-19 {
  transform: translate3d(0, -95px, 0) rotate(135deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-20 {
  transform: translate3d(0, -95px, 0) rotate(142.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-21 {
  transform: translate3d(0, -95px, 0) rotate(150deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-22 {
  transform: translate3d(0, -95px, 0) rotate(157.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-23 {
  transform: translate3d(0, -95px, 0) rotate(165deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-24 {
  transform: translate3d(0, -95px, 0) rotate(172.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-25 {
  transform: translate3d(0, -95px, 0) rotate(180deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-26 {
  transform: translate3d(0, -95px, 0) rotate(187.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-27 {
  transform: translate3d(0, -95px, 0) rotate(195deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-28 {
  transform: translate3d(0, -95px, 0) rotate(202.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-29 {
  transform: translate3d(0, -95px, 0) rotate(210deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-30 {
  transform: translate3d(0, -95px, 0) rotate(217.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-31 {
  transform: translate3d(0, -95px, 0) rotate(225deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-32 {
  transform: translate3d(0, -95px, 0) rotate(232.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-33 {
  transform: translate3d(0, -95px, 0) rotate(240deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-34 {
  transform: translate3d(0, -95px, 0) rotate(247.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-35 {
  transform: translate3d(0, -95px, 0) rotate(255deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-36 {
  transform: translate3d(0, -95px, 0) rotate(262.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-37 {
  transform: translate3d(0, -95px, 0) rotate(270deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-38 {
  transform: translate3d(0, -95px, 0) rotate(277.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-39 {
  transform: translate3d(0, -95px, 0) rotate(285deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-40 {
  transform: translate3d(0, -95px, 0) rotate(292.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-41 {
  transform: translate3d(0, -95px, 0) rotate(300deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-42 {
  transform: translate3d(0, -95px, 0) rotate(307.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-43 {
  transform: translate3d(0, -95px, 0) rotate(315deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-44 {
  transform: translate3d(0, -95px, 0) rotate(322.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-45 {
  transform: translate3d(0, -95px, 0) rotate(330deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-46 {
  transform: translate3d(0, -95px, 0) rotate(337.5deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-47 {
  transform: translate3d(0, -95px, 0) rotate(345deg);
  transform-origin: 0 95px;
}
.ring-6 .dot-48 {
  transform: translate3d(0, -95px, 0) rotate(352.5deg);
  transform-origin: 0 95px;
}

.ring-7 .fill {
  -webkit-animation: pulsate 2s ease-in-out 2.3333333333s alternate infinite both;
          animation: pulsate 2s ease-in-out 2.3333333333s alternate infinite both;
}
.ring-7 .dot-1 {
  transform: translate3d(0, -106px, 0) rotate(0deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-2 {
  transform: translate3d(0, -106px, 0) rotate(6.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-3 {
  transform: translate3d(0, -106px, 0) rotate(13.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-4 {
  transform: translate3d(0, -106px, 0) rotate(20deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-5 {
  transform: translate3d(0, -106px, 0) rotate(26.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-6 {
  transform: translate3d(0, -106px, 0) rotate(33.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-7 {
  transform: translate3d(0, -106px, 0) rotate(40deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-8 {
  transform: translate3d(0, -106px, 0) rotate(46.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-9 {
  transform: translate3d(0, -106px, 0) rotate(53.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-10 {
  transform: translate3d(0, -106px, 0) rotate(60deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-11 {
  transform: translate3d(0, -106px, 0) rotate(66.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-12 {
  transform: translate3d(0, -106px, 0) rotate(73.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-13 {
  transform: translate3d(0, -106px, 0) rotate(80deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-14 {
  transform: translate3d(0, -106px, 0) rotate(86.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-15 {
  transform: translate3d(0, -106px, 0) rotate(93.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-16 {
  transform: translate3d(0, -106px, 0) rotate(100deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-17 {
  transform: translate3d(0, -106px, 0) rotate(106.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-18 {
  transform: translate3d(0, -106px, 0) rotate(113.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-19 {
  transform: translate3d(0, -106px, 0) rotate(120deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-20 {
  transform: translate3d(0, -106px, 0) rotate(126.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-21 {
  transform: translate3d(0, -106px, 0) rotate(133.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-22 {
  transform: translate3d(0, -106px, 0) rotate(140deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-23 {
  transform: translate3d(0, -106px, 0) rotate(146.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-24 {
  transform: translate3d(0, -106px, 0) rotate(153.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-25 {
  transform: translate3d(0, -106px, 0) rotate(160deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-26 {
  transform: translate3d(0, -106px, 0) rotate(166.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-27 {
  transform: translate3d(0, -106px, 0) rotate(173.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-28 {
  transform: translate3d(0, -106px, 0) rotate(180deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-29 {
  transform: translate3d(0, -106px, 0) rotate(186.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-30 {
  transform: translate3d(0, -106px, 0) rotate(193.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-31 {
  transform: translate3d(0, -106px, 0) rotate(200deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-32 {
  transform: translate3d(0, -106px, 0) rotate(206.6666666667deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-33 {
  transform: translate3d(0, -106px, 0) rotate(213.3333333333deg);
  transform-origin: 0 106px;
}
.ring-7 .dot-34 {
  transform: translate3d(0, -106px, 0) rotate(220deg);
  transform-origin: 0 106px;
}