.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #f6e8d7;
  background: radial-gradient(ellipse at center, #f6e8d7 0%, #dabe9b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f6e8d7", endColorstr="#dabe9b",GradientType=1 );
  overflow: hidden;
}

.floor {
  position: absolute;
  top: 244px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #232323;
}

.invisible-men {
  -webkit-animation: fade-in 0.8s ease-out 1s;
          animation: fade-in 0.8s ease-out 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.leg {
  position: absolute;
  top: 0px;
  left: 147px;
  width: 151px;
  height: 245px;
  transform-origin: 50% 0;
}

.shoe {
  position: absolute;
  width: 151px;
  height: 128px;
  left: 0;
  bottom: 0;
  background: url("https://100dayscss.com/codepen/doc-martens.svg") center center no-repeat;
  transform-origin: 0 95%;
}

.left {
  -webkit-animation: leg-swing 2s ease-in-out infinite;
          animation: leg-swing 2s ease-in-out infinite;
}
.left .shoe {
  -webkit-animation: shoe-turn 2s ease-in-out infinite;
          animation: shoe-turn 2s ease-in-out infinite;
}
